.input-group {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 400px;
    position: relative;
}

body {
    height: 90vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79%;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.input:focus {
    outline: none;
}

.input-before {
    position: relative;
}

.input-before::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.input-before:focus-within::before {
    top: 0;
    transform: translateY(0);
}
/* TODO : :has variant for firefox */
.input-before:has(> .input:not(:placeholder-shown)):before {
    top: 0;
    transform: translateY(0);
}


.username::before {
    content: "Username";
}

.password::before {
    content: "Password";
}

.hide {
    display: none;
}

.btn {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.btn:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

.switch-btn {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

.switch-btn:hover {
    text-decoration: blue underline;    
    color: blue;
}