/* SCSS HEX */
$secondary: #011638ff;
$tertiary: #8f3985ff;
$valid: #21fa90ff;
$wrong: #bb8a89ff;
$primary: #f5edf0ff;

$text-size: 16px;
$sub-title-size: $text-size * 1.61;
$title-size: $sub-title-size * 1.61;
$big-title-size: $title-size * 1.61;