.nav ul {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 0;
}

.nav ul li {
    list-style: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .nav-link {
    text-decoration: none;
    color: black;
}

header .nav-link:hover {
    text-decoration: underline;
}

.title {
    font-size: large;
    font-weight: bold;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #e0e0e0;
}

* {
    box-sizing: border-box;
}