* {
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
}

.slogan {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.3rem;
}

.quiz-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quiz-card {
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-card-title {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.quiz-card-button {
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.quiz-card-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.quiz-card-button:hover {
    background-color: #ccc;
}

.quiz-list-title::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.hide {
    display: none;
}

.player-score {
    right: 10px;
    border: 1px solid #0F0;
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 10px;
    padding: 4px;
    font-size: small;
}

.quiz-card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}