main {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 0;
}

h1 {
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

#quiz-description {
    margin-top: 2px;
    padding: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: border-color 0.3s ease-in-out;
    background-color: transparent;
    width: 100%;
    resize: vertical;
}

.question-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
    overflow-x: auto;
    max-width: 100%;
}

.question-list::-webkit-scrollbar {
    /* personalize scrollbar */
    width: 10px;
    height: 5px;
}

.question-list::-webkit-scrollbar-track {
    /* personalize scrollbar */
    background: #f1f1f1;
    border-radius: 5px;
}

.question-list::-webkit-scrollbar-thumb {
    /* personalize scrollbar */
    background: #888;
    border-radius: 5px;
}





.question {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.delete-question-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    aspect-ratio: 1;
}

.delete-question-button:hover {
    border-color: black;
}

h2 {
    margin: 0;
    margin-top: 0.1em;
    padding: 0;
}

.question {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: border-color 0.3s ease-in-out;
    background-color: transparent;
    min-width: 10em;
    width: 10em;
    aspect-ratio: 1/1.5;
    overflow: auto;
}

.add-question-button {
    font-size: larger;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#question-text {
    width: 100%;
}

.question:hover {
    border-color: black;
}

input {
    margin-top: 2px;
    padding: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: border-color 0.3s ease-in-out;
    background-color: transparent;
    width: 100%;
}

.question label {
    font-size: small;
}

.question h3 {
    margin: 0;
    margin-top: 0.1em;
    padding: 0;
}

.answer-list {
    margin: 0;
    padding: 0;
}

.question::-webkit-scrollbar {
    /* personalize scrollbar */
    width: 5px;
    height: 5px;
}

.question::-webkit-scrollbar-track {
    /* personalize scrollbar */
    background: #f1f1f1;
    border-radius: 5px;
}

.question::-webkit-scrollbar-thumb {
    /* personalize scrollbar */
    background: #888;
    border-radius: 5px;
}

.answer {
    list-style: none;
    margin: 0;
    padding: 0;
}

.answer-content {
    display: flex;
    align-items: center;
}

.add-answer-button {
    font-size: larger;
    background-color: transparent;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.answer-correct {
    display: flex;
    align-items: center;
}

.add-answer-button:hover {
    border-color: black;
}

.delete-answer-button {
    background-color: transparent;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    aspect-ratio: 1;
}

.submit-button {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: border-color 0.3s ease-in-out;
    background-color: transparent;
    font-size: larger;
    cursor: pointer;
}

body::-webkit-scrollbar {
    /* personalize scrollbar */
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    /* personalize scrollbar */
    background: #f1f1f1;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    /* personalize scrollbar */
    background: #888;
    border-radius: 5px;
}